<h3 id="contact-us">Contact Us!</h3>
<ul>
    <li><a href="https://whiletrue.fm">whiletrue.fm</a></li>
    <li><a href="https://twitter.com/whiletruefm">@whiletruefm on Twitter</a></li>
    <li><a href="https://twitter.com/kennethlove">Kenneth on Twitter (@kennethlove)</a></li>
    <li><a href="https://twitter.com/lethargilistic">Mike on Twitter (@lethargilistic)</a></li>
    <li><a href="https://twitter.com/danlemmond">Dan on Twitter (@danlemmond)</a></li>
    <li><a href="https://twitter.com/samwhoo">Sam on Twitter (@samwhoo)</a></li>
    <li><a href="https://discord.gg/9zT7NHP">Programming Discussions on Discord</a></li>
</ul>