html,
body {
        background-color: #003642;
        color: #93a1a1;
        font-family: "Roboto Mono";
}

footer {
        text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
        color: #b58900;
        font-weight: bold;
        text-align: center;
}

#site {
        max-width: 640px;
        margin: auto;
}

#logo {
        width: 100%;
}

#subtitle {
        margin: auto;
        text-align: center;
}

main {
        margin: auto;
}

main audio {
        margin: auto;
        width: 100%;
}

#episodes {
        list-style: none;
        text-align: center;
}
#episodes li:first-child,
#episodes dt:first-child {
        font-weight: bold;
}
#episodes li:first-child::before,
#episodes dt:first-child::before {
        content: "Latest: "
}

a {
        color: #299f97
}

a:hover {
        color: #9A0008
}
