html,
body {
        background-color: #ede7d4;
        color: #262626;
        font-family: "Roboto Mono";
}

footer {
        text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
        color: #b58902;
        font-weight: bold;
        text-align: center;
}

#site {
        max-width: 640px;
        margin: auto;
}

#logo {
        width: 100%;
}

#subtitle {
        margin: auto;
        text-align: center;
}

#logo-header {
        margin-bottom: 1em;
}

#logo-header a {
        display: block;
        text-align: center;
}

main {
        margin: auto;
}

main audio {
        margin: auto;
        width: 100%;
}

#episodes {
        list-style: none;
        text-align: center;
}
#episodes li:first-child,
#episodes dt:first-child {
        font-weight: bold;
}
#episodes li:first-child::before,
#episodes dt:first-child::before {
        content: "Latest: "
}

a {
        color: #585858;
}

a:hover {
        color: #d70000;
}

form {
        display: grid;
        grid-template-columns: minmax(min-content, 1fr) 2fr;
        grid-row-gap: 1rem;
}

form label {
        padding-right: 1rem;
        justify-self: end;
}
form input,
form textarea {
        height: 100%;
        width: 100%;
}

form button {
        background-color: #ede7d4;
        border: 2px solid #585858;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-family: "Roboto Mono";
        font-size: inherit;
        grid-column-start: 2;
}
form button:hover {
        background-color: #b58902;
        cursor: pointer;
}